@use '@/assets/styles/variables' as *;

.sidebar {
  position: sticky;
  top: $header-height;
  height: fit-content;
  max-height: calc(100vh - $header-height);
  overflow-y: auto;
  flex-shrink: 0;
}

.nav {
  display: flex;
  flex-direction: column;
}