@use '@/assets/styles/variables' as *;

.button {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.98);
  }

  &.outline {
    background: transparent;
    box-shadow: none;
    border-color: currentColor;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.primary {
  background-color: $primary;
  color: #fff;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    opacity: 0.9;
  }

  &.outline {
    background: transparent;
    color: $primary;

    &:hover {
      background-color: rgba($primary, 0.1);
    }
  }
}

.accent {
  background-color: $accent;
  color: #fff;
  border-color: $accent;

  &:hover {
    opacity: 0.9;
  }

  &.outline {
    background: transparent;
    color: $accent;

    &:hover {
      background-color: rgba($accent, 0.1);
    }
  }
}

.success {
  background-color: $buttons;
  color: #fff;
  border-color: $buttons;

  &:hover {
    opacity: 0.9;
  }

  &.outline {
    background: transparent;
    color: $buttons;

    &:hover {
      background-color: rgba($buttons, 0.1);
    }
  }
}

.neutral {
  background-color: $text-inactive;
  color: #fff;
  border-color: $text-inactive;

  &:hover {
    opacity: 0.9;
  }

  &.outline {
    background: transparent;
    color: $text-inactive;

    &:hover {
      background-color: rgba($text-inactive, 0.1);
    }
  }
}
