@use '@/assets/styles/variables' as *;

.header {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: $header-height;
}

.logo {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 650px) {
    gap: 8px;

    & > button {
      padding: 8px 14px;
      font-size: 14px;
      white-space: nowrap;
    }
  }

  @media (max-width: 430px) {
    gap: 6px;

    & > button {
      padding: 6px 10px;
      font-size: 13px;
    }
  }

  @media (max-width: 380px) {
    flex-direction: column;
    & > button {
      width: 100%;
      padding: 6px 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 575px) {
  .logo {
    width: 110px;
    height: 70px;
  }
}
