@use '@/assets/styles/variables' as *;

.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $background;
}

.pageWrapper {
  display: flex;
  gap: 25px;
}

.content {
  flex: 1;
  min-width: 0;
}

.menuButton {
  display: none;
  margin-bottom: 16px;
  position: fixed;
  bottom: 0;
  right: 40px;

  @media (max-width: 1120px) {
    display: block;
  }
}
