@use '@/assets/styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-weight: 500;
  color: $text;
}

.input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 15px;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: $primary;
    outline: none;
  }

  &:disabled {
    background-color: $background-tile;
    color: $text-inactive;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $text-secondary;
  }
}
