@import url('../../../assets/styles/variables.css');

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.profilePicture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.profileName {
  color: var(--text);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
