@use '@/assets/styles/variables' as *;

.auth {
  min-height: 100vh;
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;

  @media (max-width: 660px) {
    padding: 0;
  }
}

.card {
  background-color: $background-tile;
  padding: 60px 40px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba($text, 0.1);
  width: 100%;
  max-width: 560px;
  text-align: center;

  @media (max-width: 660px) {
    max-width: 100%;
  }
}

.title {
  font-size: clamp(1.25rem, 1.083rem + 0.741vw, 1.75rem);
  font-weight: 700;
  color: $text;
  margin-bottom: 10px;
}

.subtitle {
  font-size: clamp(0.875rem, 0.833rem + 0.185vw, 1rem);
  color: $text-inactive;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: left;

  @media (max-width: 660px) {
    gap: 10px;
  }

  .input {
    padding: 12px 16px;
    border: 1px solid rgba($text-inactive, 0.3);
    border-radius: 10px;
    font-size: 15px;
    color: $text;
    outline: none;
    transition: border 0.3s ease;

    &:focus {
      border-color: $primary;
    }

    @media (max-width: 560px) {
      padding: 10px;
    }
  }
}

.cta {
  width: 100%;
  font-size: clamp(0.875rem, 0.833rem + 0.185vw, 1rem);
  padding: 12px 0;
}

.switch {
  margin-top: 20px;
  font-size: clamp(0.75rem, 0.708rem + 0.185vw, 0.875rem);
  color: $text-inactive;

  &__link {
    color: $primary;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgba($primary, 0);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition:
      text-decoration-color 0.2s ease,
      text-underline-offset 0.2s ease;

    &:hover {
      text-decoration-color: $primary;
      text-underline-offset: 4px;
    }
  }
}

.backBtn {
  padding: 8px 14px;
  margin-top: 20px;
}
