@use '@/assets/styles/variables' as *;

body {
  font-family: 'Inter', monospace;
  font-size: 16px;
  color: $text;
  background: $background;
}

.container {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background;
}

.formError {
  color: $danger;
  font-size: 14px;

  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
