$background: #f9fafc;
$background-tile: #ffffff;

$primary: #3b82f6;
$accent: #59e5ff;
$text: #1f2937;
$text-inactive: #6b7280;
$buttons: #22b07d;

$header-height: 116px;

$easy-color: #10b981;
$medium-color: #fbbf24;
$hard-color: #ef4444;
