@use '@/assets/styles/variables' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: $header-height;
  height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
  flex-shrink: 0;
  z-index: 2000;

  @media (max-width: 1120px) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background: white;
    padding: 20px;
    transition: left 0.3s ease;
    overflow-y: auto;
  }
}

.open {
  @media (max-width: 1120px) {
    left: 0;
  }
}

.nav {
  flex: 1 1 auto;
  overflow-y: auto;
}

.closeBtn {
  flex-shrink: 0;
  width: 100%;
  margin-top: auto;
}
